@import "about-styles.css";
@import "colors-syles.css";

body, html, div {
    margin: 0;
    padding: 0;
}

.jumbotron {
    padding: 30px 24px;
}

div.jumbotron > img {
    margin: 0 auto;
}

div.jumbotron > h1 {
    text-align: center;
}

area {
    display: block;
    border: none;
    cursor: default;
    outline: none;
}

audio {
    margin-top: 30px;
}

footer {
    margin: 10px 0 0 0;
    padding: 0;
    height: 200px;
    width: 100%;
}

footer > iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.left-side, .right-side {
    display: inline-block;
    width: 50%;
    float: left;
}

body>main>div.container>div.row>img.img-responsive {
    margin: 0 auto;
}

pre.centered {
    text-align: center;
}

pre {
    background-color: #EEEEEE;
    border: none;
    font-size: 1.3rem;
}

@media screen and (max-width: 400px) {
    pre.centered {
        text-align: left;
        font-size: 1rem;
    }
}





